body{
    background-image: url("../imagens site/planta2.jpg");
    background-size: cover;
    min-width: 550px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

img{
    width: 10vw;
    margin-bottom: 2%; 
}
.a{display: flex;
    justify-content: space-between;
    color: white;
}

a{
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px, solid,green;
}
a:hover{color: rgb(21, 184, 6);
transition: 1s;}

div{
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 0.3%;
    align-self: center;
    text-align: center;
}

div h1{
    margin-bottom: -0%;
    font-weight: bold;
}

input{
margin-bottom: 2vw;
width: 90%;
border: 3px solid green;
height: 4vh;
min-height: 17px;


}

.btn{
    border: 2px solid black;
    background-color: rgb(253, 241, 241,0);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;}

    .btn {
        border-color: #4CAF50;
        color: white;
        transition: 1s;
      }
      .btn:hover {
        background-color: #4CAF50;
        color: white;
        font-size: 20px;
      }
      .btn {
        border-radius: 5px;
      }
      .login p{    float: left;
        margin-left: 5%;}

